<!--<pre>{{trainers | json }}</pre> -->

<div class="main-content-area editArea" *ngIf="isLoggedIn()">
  <h2>Manage Articles</h2>

  <div class="editIntro">
    <p class="clearfix">On this page you may <strong>ADD</strong>, <strong>EDIT</strong> or <strong>DELETE</strong> blog
      Articles. </p>
    <button *ngIf="isLoggedIn()" (click)="addBlog()" class="btn btnAdd">Add Article</button>

  </div>
  <ul>

    <li *ngFor="let blog of blogs">
      <div class="action-before"><button (click)="editBlog(blog)" class="ico icoEdit"><span
            class="invisible">EDIT</span></button></div>{{blog.blogtitle }}
      <div class="action-after"><button (click)="deleteBlog(blog)" class="ico icoDelete"><span class="invisible">DELETE</span></button></div>
    </li>
  </ul>

</div>


<div *ngIf="!isLoggedIn()" class="main-content-area">
  <div class="pageIntro clearfix">
    <div class="overlay"></div>
    <div class="photo"><img src="assets/images/header/header-blog.jpg" alt="" /></div>
    <div class="content">
      <h2>Fluff n' Stuff</h2>
      <p>Welcome to our blog Fluff n' stuff eros et dictum convallis, lacus orci tincidunt nibh, in ultricies lacus sem
        ac diam. Suspendisse vitae purus in orci accumsan suscipit ac quis lectus. Nam vestibulum ligula at velit
        commodo posuere. Etiam massa tellus, eleifend quis augue non, semper ultricies nibh. Vivamus ante justo, dictum
        ac viverra eu, pharetra sed elit. Curabitur ut aliquet mauris, et aliquam sapien. Morbi pellentesque diam nec
        dui interdum, vel sodales ante vestibulum. Cras quis sagittis mauris, sit amet laoreet sem. Etiam tempus
        accumsan nibh at dapibus. Nam ultrices luctus magna, quis viverra elit rhoncus vel.</p>
    </div>

  </div>



  <div class="blogArea">


      <ul class="blogPosts">
        <li (click)="viewBlog(blog)" class="blogPostItem" *ngFor="let blog of blogs">
          <div class="item">
            <div class="itemImage " >
              <img src="assets/images/blog/article/{{blog.blogimage}}" alt="" />
            </div>
            <div class="itemContent">
              <h3 class="itemTitle">{{blog.blogtitle}}</h3>
              <p class="itemText">{{ blog.blogshortdesc }}</p>
              <button  class="btn btnArticle">View Article</button>
            </div>
          </div>
        </li>
      </ul>

    



  </div>
</div>