
<header>
 <!--<div class="topNavBar">
    <div class="logo">Fluff Dog Academy</div>
  </div>--> 
<app-navbar></app-navbar>

    

  <!--<nav class="top-nav">Profile | Login</nav>-->
 
</header>

<main class="clearfix">
 


<div class="container">
  
<router-outlet></router-outlet>
</div>

</main>



<footer>
  <div class="main-content-area clearfix">
  <div class="disc">
    <p>DEMO WEBSITE &copy; 2022 Fluff Dog Academy<br />Author: TRACY MARSTON / <a href="https://github.com/TracyMarston/">Source Code Available on GitHub</a></p>
  </div><nav class="topFooterNav">
    <ul>
      <li><a routerLink="blog">Blog</a></li><li><a routerLink="trainers">Trainers</a></li><li><a routerLink="classes">Classes</a></li>
    </ul>
  </nav>
  </div>
  </footer>